{% extends 'estoque/base.html' %} {% block title %} Fornecedores {% endblock %}
{% block content %}

<h1>Fornecedores</h1>

<a class="btn btn-success" href="{% url 'fornecedor_create' %}">
  + Novo fornecedor
</a>

<form method="get" style="margin-bottom: 20px">
  <input
    type="text"
    name="q"
    placeholder="Buscar por nome ou e-mail"
    value="{{ busca }}"
  />

  <button type="submit">Buscar</button>

  {% if busca %}
  <a href="{% url 'fornecedor_list' %}">Limpar</a>
  {% endif %}
</form>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for fornecedor in fornecedores %}

    <tr>
      <td>{{ fornecedor.nome }}</td>

      <td>{{ fornecedor.email|default:"-" }}</td>

      <td>{{ fornecedor.telefone|default:"-" }}</td>

      <td class="acoes">
        <a class="btn" href="{% url 'fornecedor_update' fornecedor.pk %}">
          Editar
        </a>

        <a
          class="btn btn-danger"
          href="{% url 'fornecedor_delete' fornecedor.pk %}"
        >
          Excluir
        </a>
      </td>
    </tr>

    {% empty %}

    <tr>
      <td colspan="4">Nenhum fornecedor cadastrado.</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
