{% extends 'estoque/base.html' %} {% block content %}

<h1>Produtos</h1>

<a href="{% url 'produto_create' %}" class="btn"> Novo produto </a>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Estoque mínimo</th>
      <th>Fornecedor</th>
      <th>Ações</th>
    </tr>
  </thead>

  <form method="get" style="margin-bottom: 20px">
    <input
      type="text"
      name="q"
      placeholder="Buscar por nome ou código"
      value="{{ busca }}"
    />

    <button type="submit">Buscar</button>

    {% if busca %}
    <a href="{% url 'produto_list' %}">Limpar</a>
    {% endif %}
  </form>

  <tbody>
    {% for produto in produtos %}
    <tr>
      <td>{{ produto.codigo }}</td>
      <td>{{ produto.nome }}</td>
      <td>R$ {{ produto.preco }}</td>
      <td>{{ produto.estoque_minimo }}</td>

      <td>
        {% if produto.fornecedor %} {{ produto.fornecedor.nome }} {% else %} —
        {% endif %}
      </td>

      <td>
        <a href="{% url 'produto_update' produto.pk %}"> Editar </a>

        |

        <a href="{% url 'produto_delete' produto.pk %}"> Excluir </a>
      </td>
    </tr>

    {% empty %}
    <tr>
      <td colspan="6">Nenhum produto cadastrado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
